:global .mixed-graph {
    position: relative;
    width: 95%;
    margin: 0 auto;

    :global .bar {
        fill: #53A8E2;
    }

    :global .bar2 {
        fill: #58D8FC;
    }

    :global .bar:hover {
        fill: #588AF6;
    }

    :global .bar2:hover {
        fill: #58A6FC;
    }

    :global .outline {
        fill: none;
    }

    :global .legend-label {
        font-size: 14px;
        opacity: 0.7;
    }

    :global .mixedline {
        fill: none;
    }

    :global .mixedline2 {
        fill: none;
    }

    :global .axis {
        font: 10px sans-serif;
    }

    :global .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    :global .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    :global .x.axis path {
        display: none;
    }

    :global .mover {
        stroke: red;
        stroke-opacity: 0.1;
        fill: lightSteelBlue;
        fill-opacity: 0.5;
    }

    :global .legend-text {
        font-size: 12px;
    }

    :global .grid line {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
    }

    :global .grid path {
        stroke-width: 0;
    }

    :global .tooltips {
        position: absolute;
        opacity: 0;
        width: 200px;
        height: auto;
        padding: 10px;
        // background-color: rgba(72, 84, 101, .65);
        background-color: rgb(72, 84, 101);
        -webkit-border-radius: 10px;
        -moz-border-radius: 10px;
        border-radius: 10px;
        -webkit-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
        -moz-box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
        box-shadow: 4px 4px 10px rgba(0,0,0,0.4);
        pointer-events: none;
        font-size: 12px;
        color: #FFF;

        :global .little-legend {
            width: 30px;
            height: 20px;
        }
    }
}