:global .title {
    text-anchor: middle;
    font-weight: 700;
}

:global .prod-sales-container {
    pointer-events: all;
}

:global g {
    pointer-events: all;
}

:global .axis path {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

:global .axis line {
    fill: none;
    stroke: #000;
    shape-rendering: crispEdges;
}

:global .title {
    text-anchor: middle;
    font-weight: 700;
}
/*.x.axis path {
  display: none;
}*/
:global .line {
    fill: none;
    stroke: #FA6F80;
    stroke-width: 1.5px;
}

:global .linecircle {
    fill: #FA6F80;
}

:global .linecircle:hover {
    fill: steelblue;
}

:global .flag {
    stroke: gray;
    stroke-dasharray: 5;
    stroke-width: 1.5;
    display: none;
    pointer-events: none;
}

:global .tips {
    pointer-events: none;
    display: none;

    :global .tips-text {
        font-family: $font-family;
        font-size: 11px;
        stroke: red;
        fill: "white";
    }
}

:global .tips-text {
    font-size: 12px;
    stroke: orange;
}

:global .tips-border {
    fill: rgba(72,84,101,.65);
    stroke: gray;
    stroke-width: 1;
}

:global .grid .tick {
    stroke: lightgrey;
    opacity: 0.7;
}

:global .grid path {
    stroke-width: 0;
}
// }