.contain {
    padding: 0;
    font-family: $font-family;

    .inside-contain {
        margin: 0px 5px;
        padding: 10px;
        height: 100%;
        background: #FFF;
        box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);
        border-radius: 3px;
    }

    .title p {
        float: left;
        font-size: 14px;
        color: #485465;
        letter-spacing: 1px;
    }

    .city p,
    .date p {
        float: left;
        padding: 3px 5px 0 10px;
        font-size: 10px;
        color: #9D9D9D;
        letter-spacing: 1px;
    }

    .key-word .word-o p {
        clear: both;
        margin: 40px 0 0;
        font-size: 24px;
        color: #4A4A4A;
        letter-spacing: 0.54px;
        text-align: center;

        span {
            font-size: 12px;
            color: #1E2429;
            letter-spacing: 1px;
            line-height: 33px;
        }
    }

    .key-word .word-t p {
        font-size: 12px;
        color: #AAAAAA;
        letter-spacing: 0.27px;
        text-align: center;
    }

    .trend {
        width: 200px;
        height: 30px;
        background: #eef2f5;
        border-radius: 100px;
        margin: 10px auto;

        .data {
            font-size: 12px;
            color: #4A4A4A;
            letter-spacing: 1.5px;
            text-align: left;
            line-height: 30px;
            margin-left: 10px;
            float: left;
        }

        .show {
            font-size: 12px;
            letter-spacing: 0.19px;
            text-align: center;
            line-height: 30px;
            float: right;
            margin-right: 10px;
        }

        .show-up {
            color: #60B3AD;
        }

        .show-down {
            color: #E96878;
        }

        .trend-left,
        .trend-right {
            float: left;
            width: 100px;
            height: 30px;
            border-right: 0 solid #D2D2D2;
        }
        // .trend-right {
        //     float: left;
        //     width: 100px;
        //     height: 30px;
        //     border-left: 1px solid #D2D2D2;
        // }
    }
}
