:global .simple-line {
    :global .grid line {
        stroke: lightgrey;
        stroke-opacity: 0.7;
        shape-rendering: crispEdges;
    }

    :global .grid path {
        stroke-width: 0;
    }
}