// 新样式
:global(.sample-finish-outer) {

	:global(.sample-finish-choosebar) {
		height: 64px;
		justify-content: space-between;
		align-items: center;
		background-color: $ph-color-assist-card;
		margin-bottom: 16px;

		button {
			margin: 0 8px;
		}

		:global(.sample-finish-choosebar-left) {
			align-items: center;

			.select-title {
				font-family: $ph-font-family;
				font-size: $ph-fs-content;
				letter-spacing: $ph-letter-spacing-normal;
				color: $ph-fc-title;
				padding: 0 8px;
				margin-left: 8px;
				margin-bottom: 0;
			}

			.choose-select {
				width: 200px;
				height: 40px;
				text-align: center;
				text-align-last: center;
				border: 1px solid $border-color;
				border-radius: 4px;
				background-color: $ph-color-assist-card;
				margin-right: 8px;

				option {
					height: 20px;
					text-align: center;
				}
			}
		}

		:global(.sample-finish-choosebar-right) {
			margin-right: 8px;
		}
	}

	:global(.sample-finish-graph) {
		height: 480px;
		background-color: $ph-color-assist-card;
		margin-bottom: 16px;

		:global(.sample-finish-graph-title) {
			margin: 16px 0 0 16px;

			.item-title {
				font-family: $ph-font-family;
				font-size: $ph-fs-title;
				color: $ph-fc-title;
				letter-spacing: $ph-letter-spacing-normal;
				margin: 0;

			}
		}

		:global(.sample-finish-graph-info) {
			justify-content: space-between;
			align-items: flex-end;

			:global(.sample-finish-graph-left) {
				margin-left: 16px;
				line-height: 35px;
				font-size: 0;

				p {
					margin-bottom: 16px !important;
					line-height: 25px;
				}

				span {
					display: inline-block;
					margin: 0 5px;

					height: 18px;
					line-height: 18px;
					vertical-align: bottom;
				}

				span:first-child {
					width: 8px;
					background: linear-gradient(-180deg, #5E81CF 0%, #BAD0FF 100%);
				}

				span.text {
					font-size: $ph-fs-content;
					color: $ph-fc-content;
				}

				span:nth-child(3) {
					font-size: $ph-fs-content;
					color: $ph-fc-emphasize;
				}
			}

			:global(.sample-finish-graph-right) {
				margin-right: 16px;
				color: $ph-fc-title;

				:global(.sample-finish-graph-right-left) {
					display: inline-block;
					margin: 0 16px;
					width: 110px;
					line-height: 32px;
					text-align: center;

					p {
						line-height: 32px;
						font-size: 20px;
					}

					p:first-child {
						margin-bottom: 16px !important;
					}

					& .success {
						margin: 0;
						height: 32px;
						border-radius: 4px;
						color: $ph-color-assist-card;
						background-color: $ph-color-func-success;
					}

					& .error {
						margin: 0;
						height: 32px;
						border-radius: 4px;
						color: $ph-color-assist-card;
						background-color: $ph-color-func-error;
					}

					p:last-child {
						margin: 0;
						height: 32px;
						border-radius: 4px;
						font-size: $ph-fs-content;
					}
				}

				:global(.sample-finish-graph-right-mid) {
					display: inline-block;
					margin: 0 16px;
					width: 110px;
					text-align: center;

					span {
						font-size: $ph-fs-content;
					}

					p {
						line-height: 32px;
					}

					p:first-child {
						margin-bottom: 16px !important;
						margin: 0;
						height: 32px;
						border-radius: 4px;
						font-size: 20px;
					}

					p:last-child {
						margin: 0;
						height: 32px;
						border-radius: 4px;
						font-size: $ph-fs-content;
					}
				}

				:global(.sample-finish-graph-right-right) {
					display: inline-block;
					margin: 0 16px;
					width: 110px;
					text-align: center;

					span {
						font-size: $ph-fs-content;
					}

					p {
						line-height: 32px;
					}

					.echarts-chart {
						width: 100%;
						height: 300px;
					}

					p:first-child {
						margin-bottom: 16px !important;
						margin: 0;
						height: 32px;
						border-radius: 4px;
						font-size: 20px;
					}

					p:last-child {
						margin: 0;
						height: 32px;
						border-radius: 4px;
						font-size: $ph-fs-content;
					}
				}
			}
		}

		:global(.sample-finish-graph-content) {
			height: 360px;
		}
	}

	:global(.sample-finish-table) {
		background-color: $ph-color-assist-card;

		:global(.sample-finish-table-title) {
			margin: 16px 0 16px 16px;
			font-family: $ph-font-family;
			font-size: $ph-fs-title;
			color: $ph-fc-title;
			letter-spacing: $ph-letter-spacing-normal;

			p {
				margin: 0;
			}
		}

		.detail-list {
			background-color: $ph-color-assist-card;

			.footer-summary {
				margin-top: 5px;
				padding-left: 50px;
			}

			.footer-num {
				float: right;
				padding-right: 50px;
				margin-bottom: 10px;
			}
		}
	}
}
