<div local-class="step-flow-wrapper">
    <div local-class="step">
        <div  local-class="step-item item-one">
            <img src="../../assets/images/step1.png" alt="">
        </div>
        <div local-class="step-item item-two">
            {{#unless stepTwo}}
                <img src="../../assets/images/step2.png" alt="">
            {{else}}
                <img src="../../assets/images/step2done.png" alt="">
            {{/unless}}
        </div>
        <div local-class="step-item item-three">
            {{#unless stepThree}}
                <img src="../../assets/images/step3.png" alt="">
            {{else}}
                <img src="../../assets/images/step3done.png" alt="">
            {{/unless}}
        </div>
        <div local-class="step-item item-four">
            {{#unless stepFour}}
                <img src="../../assets/images/step4.png" alt="">
            {{else}}
                <img src="../../assets/images/step4done.png" alt="">
            {{/unless}}
        </div>
    </div>
</div>
{{yield}}
