{{!-- {{data-choose activeOv=true}} --}}
	{{!-- {{date-market-choose showMarkerChoose=false market=markets}} --}}
	<div class="container-fluid" local-class="nopadding line-sales">
		{{line-prod-sales singleLineData=prodSalesLine}}
	</div>
