:global(.layout-flex-outer) {
	min-width: 1200px;
	background-color: $ph-color-assist-bg;
	justify-content: center;
	align-items: flex-start;
	height: calc(100% - 104px);
	min-height: 768px;

	:global(.layout-flex-inner) {
		width: 1200px;
		padding: 24px;
	}
}

:global(.layout-flex-outer-auto-height) {
	min-width: 1200px;
	background-color: $ph-color-assist-bg;
	justify-content: center;
	align-items: flex-start;
	height: auto;

	:global(.layout-flex-inner) {
		width: 1200px;
		padding: 24px;
	}
}

// background-image: linear-gradient(-70deg, #4863AC 0%, #5E81CF 100%);
// .nav-flex-outer {
// 	justify-content: space-between;
// 	min-width: 1200px;
// 	width: 100%;
// 	height: 56px;
// 	background-image: $ph-color-main;
// 	align-items: center;

// 	.nav-title {

// 		p {
// 			margin: 0;
// 		}

// 		.self-navbar-title {
// 			font-family: $ph-font-family;
// 			font-size: $ph-fs-emphasize;
// 			color: $ph-color-assist-card;
// 			letter-spacing: 3px;
// 		}
// 	}

// 	.btn-close {

// 		margin-right: 32px;
// 		width: 22px;
// 		height: 22px;
// 		line-height: 22px;
// 		border-radius: 3px;
// 		text-align: center;
// 		font-size: $ph-fs-title;
// 		color: $ph-fc-assist;
// 		background-color: $ph-color-assist-card;
// 		cursor: pointer;
// 	}

// 	.hidden {
// 		display: none;
// 	}
// }
