.layout-fixed-outer{
    height: 100%;
    text-align: center;
    min-width: 1200px;
    background-color: $ph-color-assist-bg;
    .layout-fixed-inner{
        margin: auto;
        width: 1200px;
        padding: 24px 24px 0 24px;
    }
}