:global(.layout-flex-outer) {
    min-width: 1200px;
    background-color: $ph-color-assist-bg;
    justify-content: center;
    align-items: center;
    height: 100%;

    :global(.layout-flex-inner) {
        width: 1200px;
        padding: 24px;
    }
}