{{step-flow stepOne=true stepTwo=false stepThree=false stepFour=false}}
<div local-class="layout-fixed-outer">
    <div local-class="layout-fixed-inner">
        {{upload-file next=(action 'next')}}
    </div>
</div>
{{outlet}}
