
{{yield}}

<div local-class="contain">
    {{!-- <h1>zhanglu</h1> --}}
    <div local-class="title">
        <p>市场规模增长最快</p>
    </div>
    <div local-class="date">
        <p>2018-4</p>
    </div>
    <div local-class="city">
        <p>北京市</p>
    </div>
    <div local-class="key-word">
        <div local-class="word-o">
            <p>市场名称</p>
        </div>
        <div local-class="word-t">
            <p>市场名</p>
        </div>
    </div>
    <div local-class="trend">
        <div local-class="data">
            <p>94.83Mil</p>
        </div>
        <div local-class="show">
            <p>4.3%</p>
        </div>
    </div>
</div>
