.contain {
    padding: 0;
    font-family: $font-family;

    .inside-contain {
        margin: 10px 15px;
        padding: 10px;
        height: 100%;
        background: #FFF;
        box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
    }

    .title p {
        float: left;
        font-size: 14px;
        color: #485465;
        letter-spacing: 1px;
    }

    .city p,
    .subtitle p {
        float: left;
        font-size: 10px;
        color: #9D9D9D;
        letter-spacing: 1px;
        padding: 3px 5px 0 10px;
    }

    .word-hidden {
        display: none;
    }

    .key-word .word-o p {
        clear: both;
        margin-top: 55px;
        height: 34px;
        font-size: 24px;
        color: #4A4A4A;
        letter-spacing: 0.54px;
        text-align: center;
    }

    .key-word .word-t p {
        font-size: 12px;
        color: #AAAAAA;
        letter-spacing: 0.27px;
        text-align: center;
        height: 15px;
    }

    .key-word {
        .word-num {
            width: 100%;
            margin: 0 auto;
        }

        .word-num p {
            font-size: 36px;
            padding-right: 10px;
        }

        .word-num span {
            font-size: 12px;
            color: #1E2429;
            letter-spacing: 1px;
        }
    }

    .trend {
        width: 100%;
        max-width: 200px;
        height: 30px;
        background: #eef2f5;
        border-radius: 100px;
        margin: 10px auto;

        .data {
            font-size: 12px;
            color: #4A4A4A;
            letter-spacing: 1.5px;
            text-align: left;
            line-height: 30px;
            margin-left: 20px;
            float: left;
        }

        .show {
            font-size: 12px;
            letter-spacing: 0.19px;
            text-align: center;
            line-height: 30px;
            float: right;
            margin-right: 20px;
        }

        .show_up {
            color: #50E3C2;
        }

        .show_down {
            color: #E96878;
        }
    }

    .trend-null {
        background: #fff;
    }
}

.but {
    color: red;
}
@media (max-width:1250px) {
    .subtitle p {
        clear: both;
        margin-left: -10px;
    }

    .title p {
        margin: 0;
    }
}
