.line-multi {
	// margin: 15px;
	margin-top: 15px;
	padding: 0;
	border-radius: 3px;
	background-color: #FFF;

	:global .svg {
		font: 10px sans-serif;
		shape-rendering: crispEdges;
	}

	:global line.xAxisLine {
		stroke: #f00;
	}

	:global rect {
		fill: #fff;
	}

	:global .legend {
		font-size: 12px;
		font-family: $font-family;
	}

	:global .inner_line path {
		fill: none;
		stroke: #E7E7E7;
		shape-rendering: crispEdges;
	}

	:global .inner_line line {
		fill: none;
		stroke: #979797;
		shape-rendering: crispEdges;
	}

	:global .axis text {
		font-family: $font-family;
		font-size: 12px;
		fill: #485465;
		letter-spacing: 1px;
		text-align: center;
	}

	:global .axis path {
		fill: none;
		stroke: none;
		shape-rendering: crispEdges;
	}

	:global .axis line {
		fill: none;
		stroke: none;
		shape-rendering: crispEdges;
	}
}