// 新样式
// :global(.view-result-outer) {
.view-result-container {
	// width: 100%;

	:global(.view-result-choosebar) {
		height: 64px;
		justify-content: space-between;
		align-items: center;
		background-color: $ph-color-assist-card;
		margin-bottom: 16px;

		button {
			margin: 0 8px;
		}

		:global(.view-result-choosebar-left) {
			align-items: center;

			.select-title {
				font-family: $ph-font-family;
				letter-spacing: $ph-letter-spacing-normal;
				font-size: $ph-fs-content;
				color: $ph-fc-title;
				padding: 0 8px;
				margin-left: 8px;
				margin-bottom: 0;
			}

			.choose-select {
				width: 200px;
				height: 40px;
				text-align: center;
				text-align-last: center;
				border: 1px solid $border-color;
				border-radius: 4px;
				background-color: $ph-color-assist-card;
				margin-right: 8px;

				option {
					height: 20px;
					text-align: center;
				}
			}
		}

		:global(.view-result-choosebar-right) {
			margin-right: 8px;
		}
	}

	:global(.view-result-target) {
		background-color: $ph-color-assist-card;
		margin-bottom: 16px;

		:global(.view-result-target-title) {
			font-size: $ph-fs-title;
			color: $ph-fc-title;
			margin: 16px 0 16px 16px;

			p {
				margin: 0;
			}
		}

		:global(.view-result-target-content) {
			justify-content: space-around;

			:global(.view-result-target-content-top) {
				margin-bottom: 16px;
				width: 240px;
				color: $ph-fc-title;

				p {
					margin: 0;
				}

				.item-current,
				.item-old {
					display: inline-block;
					width: 48%;
				}

				.item-current {
					text-align: left;

					p:first-child {
						font-size: $ph-fs-content;
					}

					p:last-child {

						span:first-child {
							font-size: 36px;
						}

						span:last-child {
							font-size: 20px;
						}
					}
				}

				.item-old {

					p {
						font-size: $ph-fs-content;
						display: inline;
						padding-right: 8px;
					}

					& .success {
						color: $ph-color-func-success;
					}

					& .error {
						color: $ph-color-func-error;
					}
				}
			}
		}
	}

	:global(.view-result-trend) {
		background-color: $ph-color-assist-card;
		margin-bottom: 16px;

		.result-title {
			font-size: $ph-fs-title;
			color: $ph-fc-title;
			margin: 16px 0 16px 16px;
			height: 25px;

			.trend-legend {
				display: inline-block;
				vertical-align: middle;
				font-size: 0;

				span {
					display: inline-block;
					margin: 0 5px;
					vertical-align: middle;
					height: 25px;
				}

				span.text {
					font-size: $ph-fs-content;
					color: $ph-fc-content;
				}

				span:first-child {
					width: 8px;
					height: 20px;
					background-color: $btn-bgcolor;
				}

				span:nth-child(3) {
					font-size: $ph-fs-content;
					font-weight: 700;
					color: $ph-color-assist-sec;
				}
			}
		}
	}

	// :global(.view-result-area-group) {
	// background-color: $ph-color-assist-card;
	// margin-bottom: 16px;
	:global(.view-result-area-inner) {
		justify-content: space-evenly;
		// background-color: $ph-color-assist-card;
		margin-bottom: 16px;

		.svg-title {
			justify-content: space-between;

			.title {
				margin: 0;
				height: 32px;
				line-height: 32px;
				font-size: 18px;
				color: #555555;
				letter-spacing: 1.5px;
			}

			.legend {
				button {
					padding: 0;
					width: 79px;
					height: 32px;
					line-height: 32px;
					border: 0;
					text-align: center;
					font-size: 14px;
					color: #676767;
					background-color: #eee;

				}
			}
		}

		.china-map {
			.coming-soon {
				margin: 32px 0;
				font-size: 32px;
				text-align: center;
			}
		}

		.view-result-area-map {
			padding: 16px;
			height: 655px;
			margin-right: 20px;
			background-color: #fff;

			.china-map {
				width: 680px;
			}
		}

		.view-result-area {
			padding: 16px;
			width: 420px;
			background-color: #fff;

			.time {
				margin-top: 16px;

				p {
					margin: 0;
					font-size: 14px;
					color: #555555;
					letter-spacing: 1.5px;
				}

				p:first-child {
					flex: 0 0 122px;
					text-align: right;
				}

				p:last-child {
					flex: 1;
					// 应该等于spacing
					padding-left: 120px;
				}
			}

			.text-legend {
				width: 100%;
				font-size: 16px;
				color: #676767;

				p {
					display: inline-block;
					margin: 0;
					width: 49%;
					letter-spacing: 1.2px;
				}

				p:first-child {
					text-align: right;
					padding-right: 50px;
				}

				p:last-child {
					text-align: left;
					padding-left: 60px;
				}
			}
		}
	}
}
