:global .mixed-graph {
    :global .bar {
        fill: #53A8E2;
    }

    :global .bar2 {
        fill: #58D8FC;
    }

    :global .bar:hover {
        fill: blue;
    }

    :global .mixedline {
        fill: none;
    }

    :global .mixedline2 {
        fill: none;
    }

    :global .axis {
        font: 10px sans-serif;
    }

    :global .axis path {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    :global .axis line {
        fill: none;
        stroke: #000;
        shape-rendering: crispEdges;
    }

    :global .x.axis path {
        display: none;
    }

    :global .mover {
        stroke: red;
        stroke-opacity: 0.1;
        fill: lightSteelBlue;
        fill-opacity: 0.5;
    }
}