// 新版本样式
:global(.step-flex-outer) {
	width: 1152px;
	min-height: 616px;
	background-color: $ph-color-assist-card;

	:global(.upload-hint) {
		margin: 24px auto auto 152px;

		p {
			font-family: $ph-font-family;
			font-size: $ph-fs-content;
			letter-spacing: 1.5px;
			color: $ph-fc-title;
			padding-right: 8px;
			margin-bottom: 0px;
		}
	}

	:global(.file-upload-group) {
		margin: 88px 152px auto 152px;
		justify-content: space-between;

		:global(.file-upload-view) {
			// margin-right: 96px;
			width: 328px;

			:global(.file-upload-view-title) {
				align-items: baseline;
				margin-bottom: 8px;

				p {
					margin-bottom: 0px;
				}

				p:nth-child(1) {
					font-family: $ph-font-family;
					font-size: $ph-fs-title;
					letter-spacing: 1.5px;
					color: $ph-fc-title;
				}

				p:nth-child(2) {
					font-family: $ph-font-family;
					font-size: $ph-fs-content;
					letter-spacing: 1.5px;
					color: $ph-fc-content;
				}
			}

			:global(.file-upload-view-pic) {

				.upload-area {
					margin: 0 auto;
					border-radius: 4px;
					border: 1px solid $border-color;
					width: 328px;
					height: 328px;

					.dropzone-upload-area {
						padding-top: 24px;
						text-align: center;

						&.active {
							border-color: $btn-bgcolor;
						}

						img {
							width: 189px;
							height: 270px;
						}
					}
				}
			}

			:global(.file-upload-view-btn) {
				margin: 8px 0;

				:global(.file-upload) {
					flex-grow: 1;
					margin-bottom: 0;
					height: 40px;

					a {
						font-family: $ph-font-family;

						position: absolute;
						right: -1px;
						top: -1px;
						display: inline-block;
						width: 80px;
						height: 40px;
						line-height: 40px;
						text-align: center;
						border-radius: 0 4px 4px 0;
						color: $ph-color-assist-card;
						background-color: $btn-bgcolor;
						cursor: pointer;

						&:hover {
							text-decoration: none;
						}

						&.delete {
							background: $ph-color-func-error;
						}
					}

					.click-upload {
						font-weight: normal;
						flex-grow: 1;
						position: relative;
						padding-left: 8px;
						width: 100%;
						display: inline-block;
						height: 40px;
						line-height: 40px;
						text-align: left;
						font-size: $ph-fs-content;
						border: 1px solid $border-color;
						border-radius: 4px;
					}

					.upload-progress-container {
						width: 100%;
						position: relative;
						display: inline-block;
						flex-grow: 1;

						.upload-progress {
							position: relative;
							top: 10px;
							left: 0px;
							width: 100%;
							height: 20px;
						}
					}
				}
			}
		}
	}

	:global(.upload-file-next-btn) {
		justify-content: flex-end;
		margin: 8px 24px 24px 0;
	}
}
