.nopadding {
	padding: 0;
}

.table-sales {
	margin: 15px;
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #FFF;
	box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);
}

.mixed-graph {
	// width: 2000px;
	margin: 15px;
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #FFF;
	box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);
}

.inside-title {
	span:first-child {
		margin-right: 10px;
		font-size: 14px;
		color: #485465;
		letter-spacing: 1.08px;
	}

	span:nth-child(2) {
		font-size: 12px;
		color: #9D9D9D;
		letter-spacing: 1px;
	}
}

.pie-histogram {
	padding: 10px 15px;

	.legend-pie-container {
		height: 400px;
		// margin-right: 10px;
		// padding: 5px 10px;
		padding-right: 5px;
		background-color: #F4F4F4;

		.inside {
			padding: 10px 20px;
			width: 100%;
			height: 100%;
			margin-right: 5px;
			border-radius: 3px;
			background-color: #FFF;
			box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);
		}

		.pie-title {
			height: 20px;
			line-height: 20px;
			font-size: 0;

			span:first-child {
				margin-right: 10px;
				font-size: 14px;
				// font-weight: 700;
				color: #485465;
				letter-spacing: 1.08px;
			}

			span:nth-child(2) {
				font-size: 12px;
				color: #9D9D9D;
				letter-spacing: 1px;
			}
		}
	}

	.horizontal-histogram {
		// padding: 10px 15px;
		padding-left: 5px;
		// margin-left: 10px;
		height: 400px;
		background: #F4F4F4;

		.inside {
			padding: 10px 20px;
			width: 100%;
			height: 100%;
			margin-right: 5px;
			border-radius: 3px;
			background-color: #FFF;
			box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);
		}

		.his-title {
			height: 20px;
			line-height: 20px;
			font-size: 0;

			span:first-child {
				margin-right: 10px;
				font-size: 14px;
				// font-weight: 700;
				color: #485465;
				letter-spacing: 1.08px;
			}

			span:nth-child(2) {
				font-size: 12px;
				color: #9D9D9D;
				letter-spacing: 1px;
			}
		}

		.choose-type {
			height: 20px;
			line-height: 20px;
			font-size: 14px;
			color: #717171;
			letter-spacing: 1px;

			select {
				width: 150px;
				height: 30px;
				line-height: 30px;
				background: #F4F4F4;
				border-radius: 1px;
			}
		}

		.histogram {
			height: 300px;
			overflow-y: scroll;
			/* 设置滚动条的样式 */
			&::-webkit-scrollbar {
				width: 5px;
			}
			/* 滚动槽 */
			&::-webkit-scrollbar-track {
				-webkit-box-shadow: inset006pxrgba(0,0,0,0.3);
				border-radius: 5px;
			}
			/* 滚动条滑块 */
			&::-webkit-scrollbar-thumb {
				border-radius: 5px;
				background: #89B5E8;
				-webkit-box-shadow: inset006pxrgba(0,0,0,0.5);
			}

			&::-webkit-scrollbar-thumb:window-inactive {
				background: #89B5E8;
			}
		}

		.share {
			span {
				display: inline-block;
				padding-left: 0;
				font-size: 10px;
				color: #485465;
				letter-spacing: 1px;
				text-align: left;
			}
		}
	}
}

.multi-line {
	margin: 15px;
	padding: 10px 20px;
	border-radius: 3px;
	background-color: #FFF;
	box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);

	.market-title {
		padding-bottom: 20px;
		// height: 20px;
		line-height: 20px;
		font-size: 0;

		span:first-child {
			margin-right: 10px;
			font-size: 14px;
			// font-weight: 700;
			color: #485465;
			letter-spacing: 1.08px;
		}

		span:nth-child(2) {
			font-size: 12px;
			color: #9D9D9D;
			letter-spacing: 1px;
		}
	}
}

.con-title {
	// padding-bottom: 20px;
	// height: 20px;
	line-height: 20px;
	font-size: 0;

	span:first-child {
		margin-right: 10px;
		font-size: 14px;
		// font-weight: 700;
		color: #485465;
		letter-spacing: 1.08px;
	}

	span:nth-child(2) {
		font-size: 12px;
		color: #9D9D9D;
		letter-spacing: 1px;
	}
}

.change {
	position: absolute;
	right: 30px;
	border: 0;
	line-height: 40px;
	background: none;
	font-family: PingFangTC-Regular;
	font-size: 12px;
	color: #485465;
	letter-spacing: 2px;
}

.change:active,
.change:hover,
change:focus {
	background: none;
}

.data-market {
	margin: 10px 15px;
	// padding: 5px 10px;
	height: 50px;
	line-height: 50px;
	background-color: #FFF;
	box-shadow: 0 1px 3px 0 rgba(173,173,173,0.50);
	border-radius: 3px;
	// font-size: 12px;
}

.time-selects {
	display: block;
	margin-top: 20px;
	height: 30px;
	line-height: 30px;
	// text-align: center;
	// border: 1px solid $border-color;
	border-radius: 4px;
	font-size: 0;
	// background-color: #F0F3F5;
	& span {
		font-size: 14px;
		padding: 0 10px;
		color: #485465;
		letter-spacing: 1px;
	}

	& input {
		width: 100px;
		height: 34px;
		text-align: center;
		border: 0;
		font-size: 14px;
		letter-spacing: 1.2px;
		color: #485465;
		letter-spacing: 2px;
		background-color: #F0F3F5;
	}
}

.market-hidden {
	display: none;
}

.market-choose-area {
	display: block;
	// margin-right: 40px;
	height: 30px;
	line-height: 30px;
	line-height: 30px;
	font-size: 0;

	.title {
		padding: 0 10px;
		font-size: 14px;
		color: #485465;
		letter-spacing: 1px;
	}
}

.choose-market {
	width: 150px;
	height: 30px;
	margin-right: 20px;
	line-height: 30px;
	vertical-align: top;
	text-align: center;
	text-align-last: center;
	border: 0;
	border-radius: 5px;
	font-size: 14px;
	background-color: #F0F3F5;
	color: #485465;

	option {
		font-size: 14px;
		text-align: center;
		color: #485465;
	}
}

.change-item {
	float: right;
	margin-right: 50px;
	display: inline-block;
	height: 40px;
	line-height: 40px;
	font-size: 12px;
	color: #485465;
}

.market-show,
.time-show {
	display: inline-block;
	line-height: 50px;
	// margin-right: 30px;
	span {
		padding: 0 15px;
		font-size: 14px;
		color: #485465;
		letter-spacing: 1px;
	}

	p {
		width: 150px;
		height: 33px;
		line-height: 33px;
		display: inline-block;
		background: #F0F3F5;
		border-radius: 3px;
		font-family: PingFangTC-Regular;
		font-size: 14px;
		color: #485465;
		text-align: center;
	}
}
@media (max-width: 900px) {
	.market-show,
	.time-show {
		p {
			width: 100px;
		}
	}
}